FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="https://us1.prisma.sh/marla-hoggard-0e97c7/sick-fits/dev"
PRISMA_SECRET="prisma-secret-asdfghj"
APP_SECRET="jwtsecret123"
STRIPE_SECRET="sk_123youchanget his"
PORT=4444
